.App {
  text-align: center;
}

.App-logo {
  // animation: App-logo-spin infinite 20s linear;
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 0 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-wrap{

  }
  .nav-wrap{
    flex: 1;
    ul{
      list-style: none;
      text-align: right;
      margin: 0;
      padding: 0;
      li{
        height: 60px;
        display: inline-block;
        a {
          padding: 20px 30px;
          line-height: 20px;
          color: white;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
