@import '../../assets/styles/variable.css';

.content{
  padding: 0 20px;
}
.btn{
  width: 80px;
  height: 30px;
}
.default{
  display: block;
}
.hidden{
  display: none;
}
.group{
  width: 300px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
  border: 1px #eee solid;
}
.group li{
  border-bottom: 1px #eee solid;
}
.group li:last-child{
  border-bottom: none;
}
.fieldset{
  width: 300px;
  margin: 20px auto;
}
.App-header{
  .login-link{
    display: inline-block;
    height: 100%;
    line-height: 60px;
    padding: 0 15px;
    color: $linkColor;
    text-decoration: none;
    &:active{
      background-color: lighten(black, 20%);
    }
  }
}
